<li class="save">
  <button title="save" class="btn-secondary enabled" {{action 'openModal'}} >
    Save
  </button>
</li>

<li class="preview">
  <button title="preview" class="btn-secondary enabled" {{action 'showSoarPanel'}}>
    Preview
  </button>
</li>

<li class="publish">
  <button class="btn-secondary" title="publish" >
    Publish
  </button>
</li>

<li class="unpublish">
  <button title="unpublish" class="btn-secondary disabled" >
    Unpublish
  </button>
</li>
