<label for="wmd-inputember1795">{{label}}</label>
<div id="wmd-button-barember1795">
  <ul id="wmd-button-rowember1795" class="wmd-button-row markdown-buttonbar">
    <li class="wmd-button" id="wmd-bold-buttonember1795" title="Strong <strong> Ctrl+B" style="left: 0px;"><span style="display: none; background-position: 0px 0px;"></span><i class="icon-bold"></i></li>
    <li class="wmd-button" id="wmd-italic-buttonember1795" title="Emphasis <em> Ctrl+I" style="left: 0px;"><span style="display: none; background-position: -20px 0px;"></span><i class="icon-italic"></i></li>
    <li class="wmd-button" id="wmd-strike-buttonember1795" title="Strikethrough <del> Ctrl+D" style="left: 0px;"><span style="display: none; background-position: -260px 0px;"></span><i class="icon-strikethrough"></i></li>
    <li class="wmd-button" id="wmd-link-buttonember1846" title="Hyperlink <a> Ctrl+L" style="left: 0px;"><span style="display: none; background-position: -40px 0px;"></span><i class="icon-link"></i></li>
    {{#if isBody}}
      <li class="wmd-button" id="wmd-embed-buttonember1846" title="Embed" style="left: 0px;"><span style="display: none; background-position: -40px 0px;"></span><i class="icon-embed"></i></li>
      <li class="wmd-button" id="wmd-asset-buttonember1846" title="Asset Ctrl+E" style="left: 0px;"><span style="display: none; background-position: -40px 0px;"></span><i class="icon-afm"></i></li>
      <li class="wmd-button" id="wmd-callout-buttonember1846" title="Callout Ctrl+5" style="left: 0px;"><span style="display: none; background-position: -40px 0px;"></span><i class="icon-callout"></i></li>
      <li class="wmd-button" id="wmd-quote-buttonember1846" title="Blockquote <blockquote> Ctrl+Q" style="left: 0px;"><span style="display: none; background-position: -60px 0px;"></span><i class="icon-blockquote"></i></li>
      <li class="wmd-button" id="wmd-olist-buttonember1846" title="Numbered List <ol> Ctrl+O" style="left: 0px;"><span style="display: none; background-position: -120px 0px;"></span><i class="icon-orderedList"></i></li>
      <li class="wmd-button" id="wmd-ulist-buttonember1846" title="Bulleted List <ul> Ctrl+U" style="left: 0px;"><span style="display: none; background-position: -140px 0px;"></span><i class="icon-unorderedList"></i></li>
      <li class="wmd-button" id="wmd-heading-buttonember1846" title="Heading <h1>/<h2> Ctrl+H" style="left: 0px;"><span style="display: none; background-position: -160px 0px;"></span><i class="icon-heading"></i></li>
      <li class="wmd-button" id="wmd-hr-buttonember1846" title="Horizontal Rule <hr> Ctrl+R" style="left: 0px;"><span style="display: none; background-position: -180px 0px;"></span><i class="icon-hr"></i></li>
      <li class="wmd-button" id="wmd-section-buttonember1846" title="Section <section> Ctrl+="style="left: 0px;"><span style="display: none; background-position: -180px 0px;"></span><i class="icon-section"></i></li>
      <li class="wmd-button" id="wmd-newline-buttonember1846" title="New Line - Ctrl+Enter" style="left: 0px;"><span style="display: none; background-position: -180px 0px;"></span><i class="icon-newline"></i></li>
    {{/if}}
  </ul>
</div>
<button class="btn-secondary active-secondary">markdown</button>
<button class="btn-secondary inactive">preview</button>
