{{#if show}}
<div id="modal-overlays">
  <div class="ember-modal-wrapper">

    <div  data-ember-modal-dialog-overlay="true" class="ember-modal-overlay translucent" style="cursor: pointer;">
      <div  class="ember-modal-dialog ember-modal-dialog-target-attachment-center cp-modal-dialog-positioned-container-2e040c42" style="left: 50%; top: 50%; margin-left: -450px; margin-top: -263px;">
        <div class="sr-validation-guy">
          <h1>SEO Validation</h1>
          <h5>Scanning content for Google News Index and SOAR score</h5>
          {{progress-bar}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
