{{#if show}}
<div class="row sr-lts">
  <div class="col-4 sr-checklist">
    <div>
      <span class="sr-checklist-title">Google News Validation</span>
    </div>
    <span class="sr-gn-grade pass">PASS</span>
    <p>
      <i class="icon-check"></i>
      <span class="sr-rule-title">indexed</span>
    </p>
  </div>
  <div class="col-3 sr-checklist">
    <div>
      <span class="sr-checklist-title">SOAR Score</span>
    </div>
    <div class="sr-final-score__lts pass">93</div>
  </div>
  <div class="col-5 sr-checklist">
    <div>
      <span class="sr-checklist-title">Google Rank</span> <a href="google.com" class="sr-view-live">View Live</a>
    </div>
    <div class="sr-final-score__lts smaller pass">8th</div>
    <div class="sr-left-me">
      <input type="checkbox" checked>
      First page rank change notifications
    </div>
  </div>
</div>
{{/if}}
