  <div class="container">
    <div class="row">
      <div class="col-12">

        <ul class="nav-list">
          <li class="logo">
<a id="ember722" href="/search" class="copilot-logo ember-view">
  <img src="/img/logo/copilot-logo.svg" alt="Copilot Logo">
</a>          </li>

          <li class="brand dropdown-nav">
<div id="ember738" class="ember-view simple-dropdown simple-dropdown-8c4ba636">                <a href="#" role="button" class="dropdown-toggle " data-ember-action="739">Brand</a>
                <ul role="menu" class="dropdown-menu ">
                    <li data-ember-action="751"><a href="#" class="222">222</a></li>
                    <li data-ember-action="752"><a href="#" class="ad">Architectural Digest</a></li>
                    <li data-ember-action="753"><a href="#" class="bon">Bon Appétit</a></li>
                    <li data-ember-action="754"><a href="#" class="brides">Brides</a></li>
                    <li data-ember-action="755"><a href="#" class="cnt">Condé Nast Traveler</a></li>
                    <li data-ember-action="756"><a href="#" class="copilot">Copilot</a></li>
                    <li data-ember-action="757"><a href="#" class="demo">Demo</a></li>
                    <li data-ember-action="758"><a href="#" class="det">Details</a></li>
                    <li data-ember-action="759"><a href="#" class="engineering">Engineering</a></li>
                    <li data-ember-action="760"><a href="#" class="epi">Epicurious</a></li>
                    <li data-ember-action="761"><a href="#" class="gd">Golf Digest</a></li>
                    <li data-ember-action="762"><a href="#" class="glm">Glamour</a></li>
                    <li data-ember-action="763"><a href="#" class="gq">GQ</a></li>
                    <li data-ember-action="764"><a href="#" class="self">Self</a></li>
                    <li data-ember-action="765"><a href="#" class="tnv">Teen Vogue</a></li>
                    <li data-ember-action="766"><a href="#" class="vf">Vanity Fair</a></li>
                    <li data-ember-action="767"><a href="#" class="vogue">Vogue</a></li>
                    <li data-ember-action="768"><a href="#" class="wmag">W</a></li>
                </ul>

</div>          </li>

          <li class="search-link dropdown-nav">
            <a id="ember769" href="/search" class="nav-search-link ember-view">Search</a>
          </li>

          <li class="content-types dropdown-nav">
<div id="ember770" class="ember-view simple-dropdown simple-dropdown-8c4ba636">              <a href="#" role="button" class="dropdown-toggle " data-ember-action="771">Create</a>
              <div class="hide">
                <ul id="ember781" role="menu" class="ember-view dropdown-menu dropdown-menu show">    <li><a id="ember791" href="/articles/create" class="create-article  ember-view">Article</a></li>
    <li><a id="ember832" href="/contributors/create" class="create-contributor  ember-view">Contributor</a></li>
    <li><a id="ember857" href="/curatedlists/create" class="create-curatedlist  ember-view">Curated List</a></li>
    <li><a id="ember882" href="/curatedsearches/create" class="create-curatedsearch  ember-view">Curated Search</a></li>
    <li><a id="ember907" href="/externallinks/create" class="create-externallink  ember-view">External Link</a></li>
    <li><a id="ember932" href="/galleries/create" class="create-gallery  ember-view">Gallery</a></li>
    <li><a id="ember961" href="/newsletters/create" class="create-newsletter  ember-view">Newsletter</a></li>
    <li><a id="ember986" href="/photos/create" class="create-photo  ember-view">Photo</a></li>
</ul>
              </div>

</div>          </li>

          <li class="user-account dropdown-nav ">
            <li id="ember1023" class="ember-view dropdown"><div id="ember1024" class="ember-view simple-dropdown simple-dropdown-8c4ba636">    <a href="#" role="button" aria-expanded="false" class="dropdown-toggle " data-ember-action="1025">Hi, Ann</a>
    <ul role="menu" class="dropdown-menu hide">
      <li><a href="https://stg-copilot.aws.conde.io/admin/profile">My Profile</a></li>
        <li><a href="https://stg-copilot.aws.conde.io/admin/users">My Team</a></li>
        <li><a href="https://stg-copilot.aws.conde.io/admin/permissions">Permissions</a></li>
      <li><a href="/" class="logout" data-ember-action="1026">Log Out</a></li>
    </ul>

</div></li>
          </li>
        </ul>

      </div>
    </div>
  </div>
